<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Ndeye Tall</title>
    <style>
        body {
			background-image: url('Capture15.png');
			background-size:cover;
			backgroung-position:center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
            text-align: center;



        }

        header {
            background-color: transparent; /* Remplacez 'transparent' par la couleur souhaitée si nécessaire */
    color: #fff; /* Couleur du texte dans l'en-tête, assurez-vous qu'elle est lisible sur l'arrière-plan choisi */
    padding: 10px;



        }

        section {
            display: none;
            padding: 20px;
            background-color: #fff;
            margin: 10px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }

        #accueil, #formulaire {
            display: block;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }

        /* Couleur rose pour les balises h2 à l'intérieur des sections */
        #loisirs h2,
        #competences h2,
        #cv h2 {
            color: #ff69b4; /* Rose */



        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to my home page</h1>
    </header>

    <nav>
        <ul>
            <li><a onclick="afficherSection('accueil')">Accueil</a></li>
            <li><a onclick="afficherSection('loisirs')">Loisirs</a></li>
            <li><a onclick="afficherSection('competences')">Compétences</a></li>
            <li><a onclick="afficherSection('cv')">CV</a></li>
            <li><a onclick="afficherSection('formulaire')">Formulaire</a></li>
        </ul>
    </nav>

    <section id="accueil">
        <h2>My home page</h2>
        Hello, my name is Ndeye Gnoma Tall. I am a first year student in networking and telecommunications at the Roanne University Institute of Technology. On this site I present to you my hobbies, my skills acquired during my training as well as my CV

    </section>

    <section id="loisirs">
<h1>My hobbies</h1>
        <h2>the journey:</h2>
<h4>one of my greatest passions is traveling to discover new things</h4>
<h4>Loving travel goes beyond simply discovering new places. It is a thirst for adventure, a ceaseless quest for new experiences and varied perspectives.
Each trip becomes a canvas on which indelible memories, enriching encounters, and a deep understanding of the world around us are painted.
Traveling broadens my horizons, feeds my curiosity, and allows me to immerse myself in the cultural diversity of our planet.
It is this constant exploration that fuels my passion for travel, transforming each destination into a captivating page in my personal story. </h4>
<img src="Capture20.png">
<h4>one of my greatest passions is traveling to discover new things</h4>
<h2>SPORT like football</h2>
<h4>The passion I feel for football transcends the simple love of the game. It is a fusion of emotions, a deep connection with the intensity of the matches, the skills of the players,
and team spirit. Football gives me an escape, a collective experience where individuals come together to create unforgettable moments. Each goal, each dribble, is much more than a technical action; it's an explosion of enthusiasm and adrenaline. Loving football,
it's immersing yourself in a global culture, it's sharing intense emotions with other enthusiasts, and it's finding an endless source of inspiration and excitement. </h4>
<img src="Capture2.png">
<p><h2>the kitchen:</h2> </p>
<h4>The passion for cooking transports me beyond simple gestures, connecting me to a deep and captivating sensory experience. It's in those moments when
I create with love that the true magic of cooking happens, letting my passion express itself through each delicious meal. </h4>
        <img src="Capture3.png">

       
    </section>

    <section id="competences">
        <h1>Compétences</h1>
        <h2>Configuration d'un réseau local</h2>

  <img src="Capture5.png">


<h2>programmation du langage Python</h2>

<img src="Capture7.png">

       
<h2>Création d'une Machine virtuelle</h2>

<img src="Capture8.png">
<h2>Mesure et visualisation des signaux sur l'oscilloscope</h2>

<img src="Capture6.png">

    </section>

    <section id="cv">
        <h1>CV</h1>
		
       <h2>Formations</h2>
	   <h3>Réseaux et Télécommunications 2023/2024</h3>
	   <h3>Baccalauréat scientifique : Mathématiques-Sciencec Physiques 2022/2023</h3>
	   <h3>Brevet des colléges 2019/2020</h3>
	   <h2>Expériences Professionnelles</h2>
	    <h3>Encadreur en Math </h3>
	   <h3>Cuisinière</h3>
	   <h3>Vendeuse de boutiques Cosmétiques</h3>
	   
<h2>Compétences</h2>
<h3> Administrer</h3>
<h3>Connecter</h3>
<h3> Programmer</h3>	   
 <h2>Télécharger le CV</h2>
    <p><a href="Ndeye_Tall_CV.pdf" download="Ndeye_Tall_CV.pdf">Télécharger le CV au format PDF</a></p>
<h2>Contact</h2>
	  <h3>Téléphone:0775952825</h3>
	  <h3> E-mail:ndeya17@yahoo.com</h3>
    </section>

    <section id="formulaire">
        <h1>Formulaire de Contact</h1>
        <form>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" required>

            <label for="motDePasse">Mot de passe :</label>
            <input type="password" id="motDePasse" name="motDePasse" required>

            <label for="confirmerMotDePasse">Confirmer le mot de passe :</label>
            <input type="password" id="confirmerMotDePasse" name="confirmerMotDePasse" required>

            <label for="commentaires">Commentaires :</label>
            <textarea id="commentaires" name="commentaires" rows="4" required></textarea>

            <input type="submit" value="Envoyer">
        </form>
    </section>

    <script>
        function afficherSection(sectionId) {
            var sections = document.querySelectorAll('section');
            sections.forEach(function(section) {
                section.style.display = 'none';
            });

            var selectedSection = document.getElementById(sectionId);
            if (selectedSection) {
                selectedSection.style.display = 'block';
            }
        }
    </script>
</body>
</html>